.hhh {
  width: 970px !important;
  box-sizing: border-box;
  margin-top: 102px;
}
.hhh .col-sm-9 .content {
  height: 164px;
  padding-left: 144px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background: url(../images/liucheng.png) no-repeat;
}
.hhh .col-sm-9 .content h3 {
  margin-top: 0;
  border-bottom: 1px dashed #c1c1c1;
}
.hhh .col-sm-9 .content span {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 20px;
}
.hhh .col-sm-3 h4 {
  border-bottom: 1px solid #c1c1c1;
  padding: 30px 0 15px;
}
.hhh .col-sm-3 h4:first-of-type {
  padding-top: 0;
  margin-top: 0;
}
.hhh .col-sm-3 .side {
  padding-left: 7px;
  padding-top: 15px;
}
.hhh .col-sm-3 .side a {
  display: block;
  margin: 5px 0;
  height: 32px;
  padding-left: 32px;
  line-height: 32px;
  overflow: hidden;
  font-size: 18px;
  color: #f93;
  background-image: url(../images/sidebar-bg.png);
  background-repeat: no-repeat;
}
.hhh .col-sm-3 .side a:nth-of-type(2) {
  background-position: 0 -32px;
}
.hhh .col-sm-3 .side a:nth-of-type(3) {
  background-position: 0 -64px;
}
.hhh .col-sm-3 ul {
  margin-top: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hhh .col-sm-3 ul li {
  line-height: 28px;
}
.hhh .col-sm-3 ul li:hover {
  color: #0ba1e4;
  cursor: pointer;
}
